@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	font-family: Helvetica;
	display: block;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

header {
	background-image: url(../Images/the-flatiron-building.png);
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	font-size: 18px;
	color: white;
	text-decoration: underline;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

.NY {
	color: white;
	background-image: url(../Images/the-flatiron-building.png);
}

p {
	font-size: 14px;
}

footer {
	text-align: left;
	background-color: dimgray;
	color: white;
}

span {
	font-size: 11px;
}