@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	font-family: Helvetica;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

header {
	background-image: url(../Images/the-flatiron-building.png);
}

a {
	font-size: 18px;
	color: white;
	text-decoration: underline;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}